Repository apify/apify-cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @B4nan, @vladfrangu, @TC-MO

chore: docs for v1
  website/versioned_docs/version-1.1.0/index.md
  website/versioned_docs/version-1.1.0/installation.md
  website/versioned_docs/version-1.1.0/integrating-scrapy.md
  website/versioned_docs/version-1.1.0/quick-start.md
  website/versioned_docs/version-1.1.0/reference.md
  website/versioned_docs/version-1.1.0/telemetry.md
  website/versioned_docs/version-1.1.0/troubleshooting.md
  website/versioned_docs/version-1.1.0/vars.md
  website/versioned_sidebars/version-1.1.0-sidebars.json
  website/versions.json
Owners: @B4nan, @vladfrangu

chore: docs for v1 (#891)
  website/versioned_docs/version-1.1.0/index.md
  website/versioned_docs/version-1.1.0/installation.md
  website/versioned_docs/version-1.1.0/integrating-scrapy.md
  website/versioned_docs/version-1.1.0/quick-start.md
  website/versioned_docs/version-1.1.0/reference.md
  website/versioned_docs/version-1.1.0/telemetry.md
  website/versioned_docs/version-1.1.0/troubleshooting.md
  website/versioned_docs/version-1.1.0/vars.md
  website/versioned_sidebars/version-1.1.0-sidebars.json
  website/versions.json
Owners: @B4nan, @vladfrangu

chore(release): Update changelog and package version [skip ci]
  CHANGELOG.md
  package.json
Owners: @B4nan, @vladfrangu

fix: unknown errors from tracking
  scripts/insert-cli-metadata.ts
  src/lib/hooks/telemetry/trackEvent.ts
Owners: @B4nan, @vladfrangu

chore: more match
  scripts/insert-cli-metadata.ts
Owners: @B4nan, @vladfrangu

fix: unknown errors from tracking (#895)
  scripts/insert-cli-metadata.ts
  src/lib/hooks/telemetry/trackEvent.ts
Owners: @B4nan, @vladfrangu

docs: fix commands that are namespaced
  docs/reference.md
  scripts/documentation-renderer/doc-building.ts
Owners: @TC-MO, @B4nan, @vladfrangu

chore: update versioned docs too
  website/versioned_docs/version-1.1.0/reference.md
Owners: @B4nan, @vladfrangu

chore(release): Update changelog and package version [skip ci]
  CHANGELOG.md
Owners: @B4nan, @vladfrangu

docs: fix commands that are namespaced (#896)
  docs/reference.md
  scripts/documentation-renderer/doc-building.ts
  website/versioned_docs/version-1.1.0/reference.md
Owners: @TC-MO, @B4nan, @vladfrangu

fix: upgrade command should always check when manually ran
  src/commands/cli-management/upgrade.ts
  src/entrypoints/_shared.ts
  src/lib/command-framework/apify-command.ts
Owners: @B4nan, @vladfrangu

docs: lets keep docs
  src/commands/cli-management/upgrade.ts
Owners: @B4nan, @vladfrangu

chore: docs docs docs
  docs/reference.md
  website/versioned_docs/version-1.1.0/reference.md
Owners: @TC-MO, @B4nan, @vladfrangu

chore: cursor rules
  .cursor/rules/command-bootstrap.mdc
Owners: @B4nan, @vladfrangu

chore: update paths
  .cursor/rules/command-bootstrap.mdc
Owners: @B4nan, @vladfrangu

fix: upgrade command should always check when manually ran (#897)
  docs/reference.md
  src/commands/cli-management/upgrade.ts
  src/entrypoints/_shared.ts
  src/lib/command-framework/apify-command.ts
  website/versioned_docs/version-1.1.0/reference.md
Owners: @TC-MO, @B4nan, @vladfrangu

chore(release): Update changelog and package version [skip ci]
  CHANGELOG.md
Owners: @B4nan, @vladfrangu

chore(release): Update changelog and package version [skip ci]
  CHANGELOG.md
Owners: @B4nan, @vladfrangu

chore: Automatic theme updating workflow [skip ci]
  website/package.json
  website/yarn.lock
Owners: @B4nan, @vladfrangu

chore(release): Update changelog and package version [skip ci]
  CHANGELOG.md
  package.json
Owners: @B4nan, @vladfrangu

docs: shrink width of generated docs
  docs/reference.md
  scripts/generate-cli-docs.ts
  src/commands/create.ts
  src/commands/login.ts
  src/commands/secrets/_index.ts
  src/commands/validate-schema.ts
  src/lib/command-framework/help/CommandHelp.ts
  website/versioned_docs/version-0.21/changelog.md
  website/versioned_docs/version-1.1.0/changelog.md
  website/versioned_docs/version-1.1.0/reference.md
Owners: @TC-MO, @B4nan, @vladfrangu

docs: shrink width of generated docs (#899)
  docs/reference.md
  scripts/generate-cli-docs.ts
  src/commands/create.ts
  src/commands/login.ts
  src/commands/secrets/_index.ts
  src/commands/validate-schema.ts
  src/lib/command-framework/help/CommandHelp.ts
  website/versioned_docs/version-0.21/changelog.md
  website/versioned_docs/version-1.1.0/changelog.md
  website/versioned_docs/version-1.1.0/reference.md
Owners: @TC-MO, @B4nan, @vladfrangu

Update quick-start.md
  website/versioned_docs/version-1.1.0/quick-start.md
Owners: @B4nan, @vladfrangu

docs: Better copy (#900)
  website/versioned_docs/version-1.1.0/quick-start.md
Owners: @B4nan, @vladfrangu

Better copy and docs
  docs/quick-start.md
  website/sidebars.js
  website/versioned_sidebars/version-1.1.0-sidebars.json
Owners: @TC-MO, @B4nan, @vladfrangu

docs: Better copy (#901)
  docs/quick-start.md
  website/sidebars.js
  website/versioned_sidebars/version-1.1.0-sidebars.json
Owners: @TC-MO, @B4nan, @vladfrangu

docs: Update title in installation
  docs/installation.md
Owners: @TC-MO

docs: Improve the installation docs flow
  docs/installation.md
Owners: @TC-MO

chore: Automatic theme updating workflow [skip ci]
  website/package.json
  website/yarn.lock
Owners: @B4nan, @vladfrangu

chore: remove chai
  package.json
  yarn.lock
Owners: @B4nan, @vladfrangu

Update docs/installation.md
  docs/installation.md
Owners: @TC-MO

Apply suggestion from @vladfrangu
  docs/installation.md
Owners: @TC-MO

Apply suggestion from @vladfrangu
  docs/installation.md
Owners: @TC-MO

chore: fmt + versioned docs fix
  docs/installation.md
  website/versioned_docs/version-1.1.0/installation.md
Owners: @TC-MO, @B4nan, @vladfrangu

Update docs/installation.md
  docs/installation.md
Owners: @TC-MO

chore: sync versioned
  docs/installation.md
  website/versioned_docs/version-1.1.0/installation.md
Owners: @TC-MO, @B4nan, @vladfrangu

docs: Improve installation documentation (#903)
  docs/installation.md
  website/versioned_docs/version-1.1.0/installation.md
Owners: @TC-MO, @B4nan, @vladfrangu

feat(website): add DocItem Content theme component
  tsconfig.eslint.json
  website/src/theme/DocItem/Content/index.js
Owners: @B4nan, @vladfrangu

docs: Add whitesace at the bottom of the file
  website/src/theme/DocItem/Content/index.js
Owners: @B4nan, @vladfrangu

chore: Automatic theme updating workflow [skip ci]
  website/package.json
  website/yarn.lock
Owners: @B4nan, @vladfrangu

.github/CODEOWNERS:

# Documentation codeowner

* @B4nan @vladfrangu

/docs/*.md @TC-MO
/docs/*.mdx @TC-MO
/docs/changelog.md
