Repository apify/apify-cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @B4nan, @vladfrangu, @TC-MO

chore(release): Update changelog and package version [skip ci]
  CHANGELOG.md
  README.md
  docs/reference.md
Owners: @B4nan, @vladfrangu, @TC-MO

ci: Write permissions for npm publishing
  .github/workflows/release.yaml
Owners: @B4nan, @vladfrangu

ci: Write permissions for npm publishing (#732)
  .github/workflows/release.yaml
Owners: @B4nan, @vladfrangu

chore(release): Update changelog and package version [skip ci]
  CHANGELOG.md
Owners: @B4nan, @vladfrangu

chore: Automatic theme updating workflow [skip ci]
  website/package.json
  website/yarn.lock
Owners: @B4nan, @vladfrangu

chore: Automatic theme updating workflow [skip ci]
  website/package.json
  website/yarn.lock
Owners: @B4nan, @vladfrangu

oclif: gathering workspace for apify to /Users/netmilk/projects/apify-cli/tmp/apify BOO BOO update BOO BOO addDep with patched oclif
  README.md
  docs/reference.md
  package.json
  patches/oclif+4.17.10.patch
  yarn.lock
Owners: @B4nan, @vladfrangu, @TC-MO

Delete README.md
  README.md
Owners: @B4nan, @vladfrangu

chore: Automatic theme updating workflow [skip ci]
  website/package.json
  website/yarn.lock
Owners: @B4nan, @vladfrangu

chore: Automatic theme updating workflow [skip ci]
  website/package.json
  website/yarn.lock
Owners: @B4nan, @vladfrangu

chore: clean up detection logic for python
  src/lib/project_analyzer.ts
  src/lib/projects/CrawleeAnalyzer.ts
  src/lib/projects/PreCrawleeApifySDKAnalyzer.ts
  src/lib/utils.ts
Owners: @B4nan, @vladfrangu

docs: add v0.21 snapshot
  website/versioned_docs/version-0.21/changelog.md
  website/versioned_docs/version-0.21/index.md
  website/versioned_docs/version-0.21/installation.md
  website/versioned_docs/version-0.21/integrating-scrapy.md
  website/versioned_docs/version-0.21/reference.md
  website/versioned_docs/version-0.21/telemetry.md
  website/versioned_docs/version-0.21/troubleshooting.md
  website/versioned_docs/version-0.21/vars.md
  website/versioned_sidebars/version-0.21-sidebars.json
  website/versions.json
Owners: @B4nan, @vladfrangu

docs: add v0.21 snapshot (#737)
  website/versioned_docs/version-0.21/changelog.md
  website/versioned_docs/version-0.21/index.md
  website/versioned_docs/version-0.21/installation.md
  website/versioned_docs/version-0.21/integrating-scrapy.md
  website/versioned_docs/version-0.21/reference.md
  website/versioned_docs/version-0.21/telemetry.md
  website/versioned_docs/version-0.21/troubleshooting.md
  website/versioned_docs/version-0.21/vars.md
  website/versioned_sidebars/version-0.21-sidebars.json
  website/versions.json
Owners: @B4nan, @vladfrangu

fix: emit logs to stderr when actors are started with `--json` flag
  src/commands/actors/call.ts
Owners: @B4nan, @vladfrangu

fix: emit logs to stderr when actors are started with `--json` flag (#741)
  src/commands/actors/call.ts
Owners: @B4nan, @vladfrangu

chore(release): Update changelog and package version [skip ci]
  CHANGELOG.md
Owners: @B4nan, @vladfrangu

chore(release): Update changelog and package version [skip ci]
  CHANGELOG.md
  README.md
  docs/reference.md
  package.json
Owners: @B4nan, @vladfrangu, @TC-MO

chore(ci): fix release flow
  .github/workflows/release.yaml
Owners: @B4nan, @vladfrangu

Revert "chore(release): Update changelog and package version [skip ci]"
  CHANGELOG.md
  README.md
  docs/reference.md
  package.json
Owners: @B4nan, @vladfrangu, @TC-MO

chore(ci): fix release flow (#742)
  .github/workflows/release.yaml
  CHANGELOG.md
  README.md
  docs/reference.md
  package.json
Owners: @B4nan, @vladfrangu, @TC-MO

chore(release): Update changelog and package version [skip ci]
  CHANGELOG.md
  README.md
  docs/reference.md
  package.json
Owners: @B4nan, @vladfrangu, @TC-MO

chore(ci): fix homebrew step
  .github/workflows/release.yaml
Owners: @B4nan, @vladfrangu

chore(ci): fix homebrew step (#743)
  .github/workflows/release.yaml
Owners: @B4nan, @vladfrangu

chore: Automatic theme updating workflow [skip ci]
  website/package.json
  website/yarn.lock
Owners: @B4nan, @vladfrangu

feat: actor charge endpoint (initial commit)
  package-lock.json
  src/commands/actor/charge.ts
  src/lib/actor.ts
  yarn.lock
Owners: @B4nan, @vladfrangu

docs: pseudo-automated new reference markdown file
  .github/workflows/check.yaml
  .gitignore
  docs/reference.md
  package.json
  scripts/generate-reference.ts
  scripts/reference-template.md
  tsconfig.eslint.json
  yarn.lock
Owners: @B4nan, @vladfrangu, @TC-MO

chore: fix typo for the script that should be ran
  .github/workflows/check.yaml
Owners: @B4nan, @vladfrangu

chore: revert yarn lock
  yarn.lock
Owners: @B4nan, @vladfrangu

chore: remove package lock
  package-lock.json
Owners: @B4nan, @vladfrangu

chore: gitignore package-lock
  .gitignore
Owners: @B4nan, @vladfrangu

improve right-side toc
  docs/reference.md
  scripts/generate-reference.ts
  scripts/reference-template.md
Owners: @TC-MO, @B4nan, @vladfrangu

add missing max heading level property to front-matter
  docs/reference.md
  scripts/reference-template.md
Owners: @TC-MO, @B4nan, @vladfrangu

chore: include the entire description before the codeblock
  .yarn/patches/oclif-npm-4.17.27-bf900abb20.patch
  docs/reference.md
  package.json
  scripts/generate-reference.ts
  yarn.lock
Owners: @B4nan, @vladfrangu, @TC-MO

chore: skip mdx for non-mdx files
  website/docusaurus.config.js
Owners: @B4nan, @vladfrangu

Revert "chore: skip mdx for non-mdx files"
  website/docusaurus.config.js
Owners: @B4nan, @vladfrangu

Revert "chore: include the entire description before the codeblock"
  .yarn/patches/oclif-npm-4.17.27-bf900abb20.patch
  docs/reference.md
  package.json
  scripts/generate-reference.ts
  yarn.lock
Owners: @B4nan, @vladfrangu, @TC-MO

chore: backport to versioned docs
  website/versioned_docs/version-0.21/reference.md
Owners: @B4nan, @vladfrangu

docs: pseudo-automated new reference markdown file (#747)
  .github/workflows/check.yaml
  .gitignore
  docs/reference.md
  package.json
  scripts/generate-reference.ts
  scripts/reference-template.md
  tsconfig.eslint.json
  website/versioned_docs/version-0.21/reference.md
  yarn.lock
Owners: @B4nan, @vladfrangu, @TC-MO

cleanup and make sure the run is PPE
  src/commands/actor/charge.ts
Owners: @B4nan, @vladfrangu

improve wording
  src/commands/actor/charge.ts
Owners: @B4nan, @vladfrangu

.github/CODEOWNERS:

# Documentation codeowner

* @B4nan @vladfrangu

/docs/*.md @TC-MO
/docs/*.mdx @TC-MO
/docs/changelog.md
