Repository apify/apify-cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @B4nan, @vladfrangu, @TC-MO

chore: fix release and pre-release ci (#832)
  .github/scripts/before-beta-release.ts
  .github/workflows/pre_release.yaml
  .github/workflows/release.yaml
  package.json
  tsconfig.eslint.json
Owners: @B4nan, @vladfrangu

chore: command suggestions enhancements (#828)
  package.json
  src/commands/help.ts
  src/entrypoints/_shared.ts
  src/lib/hooks/useCommandSuggestions.ts
  test/lib/hooks/useCommandSuggestions.test.ts
  yarn.lock
Owners: @B4nan, @vladfrangu

chore(ci): cache npm cache for tests
  .github/workflows/check.yaml
  .github/workflows/cucumber.yaml
  .github/workflows/docs.yaml
  .github/workflows/pre_release.yaml
  .github/workflows/release.yaml
Owners: @B4nan, @vladfrangu

chore(ci): cache npm cache for tests (#834)
  .github/workflows/check.yaml
  .github/workflows/cucumber.yaml
  .github/workflows/docs.yaml
  .github/workflows/pre_release.yaml
  .github/workflows/release.yaml
Owners: @B4nan, @vladfrangu

chore: Automatic theme updating workflow [skip ci]
  website/package.json
  website/yarn.lock
Owners: @B4nan, @vladfrangu

fix(init): prompt for a name if an old config does not exist
  src/commands/init.ts
Owners: @B4nan, @vladfrangu

fix(init): prompt for a name if an old config does not exist (#836)
  src/commands/init.ts
Owners: @B4nan, @vladfrangu

chore(release): Update changelog and package version [skip ci]
  CHANGELOG.md
Owners: @B4nan, @vladfrangu

fix(init): prompt for a name if an old config does not exist (#836)
  src/commands/init.ts
Owners: @B4nan, @vladfrangu

chore(ci): run check on branch
  .github/workflows/check.yaml
Owners: @B4nan, @vladfrangu

chore: bump test timeouts
  vitest.config.ts
Owners: @B4nan, @vladfrangu

chore(ci): give up windows
  .github/workflows/release.yaml
Owners: @B4nan, @vladfrangu

chore: add LICENSE
  .prettierignore
  LICENSE.md
  biome.json
Owners: @B4nan, @vladfrangu

chore: add LICENSE (#837) [skip ci]
  .prettierignore
  LICENSE.md
  biome.json
Owners: @B4nan, @vladfrangu

fix: pass apify client down to output job log wherever possible
  src/commands/actors/push.ts
  src/commands/builds/create.ts
  src/commands/builds/log.ts
  src/commands/runs/log.ts
  src/lib/commands/run-on-cloud.ts
  src/lib/utils.ts
Owners: @B4nan, @vladfrangu

chore: fix version bump
  .yarnrc.yml
Owners: @B4nan, @vladfrangu

chore: sure, timeoutMillis
  src/commands/actors/push.ts
  src/lib/commands/run-on-cloud.ts
  src/lib/utils.ts
Owners: @B4nan, @vladfrangu

fix: pass apify client down to output job log wherever possible (#839)
  src/commands/actors/push.ts
  src/commands/builds/create.ts
  src/commands/builds/log.ts
  src/commands/runs/log.ts
  src/lib/commands/run-on-cloud.ts
  src/lib/utils.ts
Owners: @B4nan, @vladfrangu

chore(release): Update changelog and package version [skip ci]
  CHANGELOG.md
Owners: @B4nan, @vladfrangu

fix: pass apify client down to output job log wherever possible (#839)
  src/commands/actors/push.ts
  src/commands/builds/create.ts
  src/commands/builds/log.ts
  src/commands/runs/log.ts
  src/lib/commands/run-on-cloud.ts
  src/lib/utils.ts
Owners: @B4nan, @vladfrangu

chore: drop ci checks
  .github/workflows/check.yaml
  .github/workflows/release.yaml
  .yarnrc.yml
Owners: @B4nan, @vladfrangu

chore(release): Update changelog and package version [skip ci]
  CHANGELOG.md
  README.md
  package.json
Owners: @B4nan, @vladfrangu

chore: backport release
  CHANGELOG.md
Owners: @B4nan, @vladfrangu

chore: bump pkg json for future betas
  package.json
Owners: @B4nan, @vladfrangu

chore(release): Update changelog and package version [skip ci]
  CHANGELOG.md
  package.json
Owners: @B4nan, @vladfrangu

chore: Automatic theme updating workflow [skip ci]
  website/package.json
  website/yarn.lock
Owners: @B4nan, @vladfrangu

chore: Automatic theme updating workflow [skip ci]
  website/package.json
  website/yarn.lock
Owners: @B4nan, @vladfrangu

chore: Automatic theme updating workflow [skip ci]
  website/package.json
  website/yarn.lock
Owners: @B4nan, @vladfrangu

chore: Automatic theme updating workflow [skip ci]
  website/package.json
  website/yarn.lock
Owners: @B4nan, @vladfrangu

chore: Automatic theme updating workflow [skip ci]
  website/package.json
  website/yarn.lock
Owners: @B4nan, @vladfrangu

chore: Automatic theme updating workflow [skip ci]
  website/package.json
  website/yarn.lock
Owners: @B4nan, @vladfrangu

fix: change warn color to yellow instead of red
  src/lib/outputs.ts
Owners: @B4nan, @vladfrangu

chore(logging): change warn color to yellow instead of red (#845)
  src/lib/outputs.ts
Owners: @B4nan, @vladfrangu

chore: backport release
  CHANGELOG.md
Owners: @B4nan, @vladfrangu

chore: bump pkg json for future betas
  package.json
Owners: @B4nan, @vladfrangu

chore: fmt
  features/builds-namespace.feature.md
  features/test-implementations/README.md
Owners: @B4nan, @vladfrangu

chore: Add info about token location to the output
  src/commands/login.ts
Owners: @B4nan, @vladfrangu

chore: Add info about location to help commands
  docs/reference.md
  src/commands/login.ts
  src/commands/logout.ts
  src/lib/utils.ts
Owners: @TC-MO, @B4nan, @vladfrangu

fix PR comments
  docs/reference.md
  src/commands/login.ts
  src/commands/logout.ts
  src/lib/utils.ts
Owners: @TC-MO, @B4nan, @vladfrangu

revert reference.md changes
  docs/reference.md
Owners: @TC-MO

.github/CODEOWNERS:

# Documentation codeowner

* @B4nan @vladfrangu

/docs/*.md @TC-MO
/docs/*.mdx @TC-MO
/docs/changelog.md
