Repository apify/apify-cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @B4nan, @vladfrangu, @TC-MO

.github/CODEOWNERS:

# Documentation codeowner

* @B4nan @vladfrangu

/docs/*.md @TC-MO
/docs/*.mdx @TC-MO
/docs/changelog.md

chore: use splice with index sorry past me, this is why you double check your double check
  src/entrypoints/_shared.ts
Owners: @B4nan, @vladfrangu

chore!: move from yargs to node:util (#871)
  features/test-implementations/1.setup.ts
  package.json
  src/commands/_register.ts
  src/commands/_testCommands/_FlagTests.ts
  src/commands/actors/call.ts
  src/commands/cli-management/upgrade.ts
  src/entrypoints/_shared.ts
  src/entrypoints/actor.ts
  src/entrypoints/apify.ts
  src/lib/command-framework/CommandError.ts
  src/lib/command-framework/apify-command.ts
  src/lib/command-framework/args.ts
  src/lib/command-framework/flags.ts
  src/lib/command-framework/help/CommandHelp.ts
  src/lib/command-framework/help/_BaseCommandRenderer.ts
  yarn.lock
Owners: @B4nan, @vladfrangu

chore(release): Update changelog and package version [skip ci]
  CHANGELOG.md
Owners: @B4nan, @vladfrangu

chore: fix node:util parseArgs migration
  scripts/install/install.sh
  src/commands/cli-management/install.ts
  src/entrypoints/_shared.ts
Owners: @B4nan, @vladfrangu

chore: fix node:util parseArgs migration (#873)
  scripts/install/install.sh
  src/commands/cli-management/install.ts
  src/entrypoints/_shared.ts
Owners: @B4nan, @vladfrangu

chore: migrate to segment
  package.json
  src/commands/_register.ts
  src/commands/login.ts
  src/commands/logout.ts
  src/commands/telemetry/_index.ts
  src/commands/telemetry/disable.ts
  src/commands/telemetry/enable.ts
  src/entrypoints/_shared.ts
  src/lib/command-framework/apify-command.ts
  src/lib/hooks/telemetry/trackEvent.ts
  src/lib/hooks/telemetry/useTelemetryEnabled.ts
  src/lib/hooks/telemetry/useTelemetryIdentifiers.ts
  src/lib/hooks/telemetry/useTelemetryState.ts
  src/lib/hooks/useCLIMetadata.ts
  src/lib/telemetry.ts
  yarn.lock
Owners: @B4nan, @vladfrangu

chore: shove telemetry in general
  scripts/generate-cli-docs.ts
Owners: @B4nan, @vladfrangu

chore: actors can config telemetry too
  src/commands/_register.ts
Owners: @B4nan, @vladfrangu

chore: brand actor cli commands
  src/lib/command-framework/apify-command.ts
Owners: @B4nan, @vladfrangu

chore: more fields
  src/lib/command-framework/apify-command.ts
  src/lib/hooks/useCLIMetadata.ts
Owners: @B4nan, @vladfrangu

chore: drop ow + trigger CI again
  package.json
  src/lib/actor.ts
  yarn.lock
Owners: @B4nan, @vladfrangu

feat: add signature to ZIP tarball URL stored in KV store
  package.json
  src/commands/actors/push.ts
  test/api/commands/push.test.ts
  yarn.lock
Owners: @B4nan, @vladfrangu

chore: Automatic theme updating workflow [skip ci]
  website/package.json
  website/yarn.lock
Owners: @B4nan, @vladfrangu

chore: mixpanel drop
  package.json
  src/lib/consts.ts
Owners: @B4nan, @vladfrangu

chore: strictly type tracking
  src/lib/command-framework/apify-command.ts
  src/lib/hooks/telemetry/trackEvent.ts
Owners: @B4nan, @vladfrangu

fix: missed tracked properties
  src/commands/init.ts
  src/lib/consts.ts
  src/lib/hooks/telemetry/trackEvent.ts
  src/lib/project_analyzer.ts
  src/lib/projects/CrawleeAnalyzer.ts
  src/lib/projects/OldApifySDKAnalyzer.ts
  src/lib/projects/shared.ts
Owners: @B4nan, @vladfrangu

chore: migrate to segment (#874)
  package.json
  scripts/generate-cli-docs.ts
  src/commands/_register.ts
  src/commands/init.ts
  src/commands/login.ts
  src/commands/logout.ts
  src/commands/telemetry/_index.ts
  src/commands/telemetry/disable.ts
  src/commands/telemetry/enable.ts
  src/entrypoints/_shared.ts
  src/lib/actor.ts
  src/lib/command-framework/apify-command.ts
  src/lib/consts.ts
  src/lib/hooks/telemetry/trackEvent.ts
  src/lib/hooks/telemetry/useTelemetryEnabled.ts
  src/lib/hooks/telemetry/useTelemetryIdentifiers.ts
  src/lib/hooks/telemetry/useTelemetryState.ts
  src/lib/hooks/useCLIMetadata.ts
  src/lib/project_analyzer.ts
  src/lib/projects/CrawleeAnalyzer.ts
  src/lib/projects/OldApifySDKAnalyzer.ts
  src/lib/projects/shared.ts
  src/lib/telemetry.ts
  yarn.lock
Owners: @B4nan, @vladfrangu

chore: fix login/logout test + make vitest wait longer for api tests
  test/api/commands/log_in_out.test.ts
  vitest.config.ts
Owners: @B4nan, @vladfrangu

chore: Automatic theme updating workflow [skip ci]
  website/package.json
  website/yarn.lock
Owners: @B4nan, @vladfrangu

chore: Automatic theme updating workflow [skip ci]
  website/package.json
  website/yarn.lock
Owners: @B4nan, @vladfrangu

chore: fix login/logout test + make vitest wait longer for api tests (#876)
  test/api/commands/log_in_out.test.ts
  vitest.config.ts
Owners: @B4nan, @vladfrangu

chore: increase timeout
  test/__setup__/consts.ts
Owners: @B4nan, @vladfrangu

chore: increase test timeout (#878)
  test/__setup__/consts.ts
Owners: @B4nan, @vladfrangu

chore: fix referencing the right runtime in version string
  src/lib/hooks/useCLIMetadata.ts
Owners: @B4nan, @vladfrangu

chore: fix referencing the right runtime in version string (#879)
  src/lib/hooks/useCLIMetadata.ts
Owners: @B4nan, @vladfrangu

chore: Automatic theme updating workflow [skip ci]
  website/package.json
  website/yarn.lock
Owners: @B4nan, @vladfrangu

chore: make opening the actor build results in push opt-in
  src/commands/actors/push.ts
  src/lib/hooks/user-confirmations/useMaskedInput.ts
Owners: @B4nan, @vladfrangu

chore: cucumber
  features/test-implementations/1.setup.ts
Owners: @B4nan, @vladfrangu

chore: smol tweak
  src/commands/actors/push.ts
Owners: @B4nan, @vladfrangu

chore: make opening the actor build results in push opt-in (#881)
  features/test-implementations/1.setup.ts
  src/commands/actors/push.ts
  src/lib/hooks/user-confirmations/useMaskedInput.ts
Owners: @B4nan, @vladfrangu

chore(release): Update changelog and package version [skip ci]
  CHANGELOG.md
Owners: @B4nan, @vladfrangu

chore: fix install command for fresh installs
  src/commands/cli-management/install.ts
Owners: @B4nan, @vladfrangu

chore: fix install command for fresh installs (#882)
  src/commands/cli-management/install.ts
Owners: @B4nan, @vladfrangu

chore: revert changes in changelog files
  website/versioned_docs/version-0.20/changelog.md
  website/versioned_docs/version-0.21/changelog.md
Owners: @B4nan, @vladfrangu

docs: revert changelog files
  website/versioned_docs/version-0.20/changelog.md
  website/versioned_docs/version-0.21/changelog.md
Owners: @B4nan, @vladfrangu

Update docs/quick-start.md
  docs/quick-start.md
Owners: @TC-MO

docs: Update sidebar, improve quick start, update titles
  .vscode/settings.json
  docs/index.md
  docs/installation.md
  docs/integrating-scrapy.md
  docs/quick-start.md
  docs/troubleshooting.md
  docs/vars.md
  website/sidebars.js
  website/versioned_docs/version-0.20/changelog.md
  website/versioned_docs/version-0.21/changelog.md
Owners: @B4nan, @vladfrangu, @TC-MO

Update docs/quick-start.md
  docs/quick-start.md
Owners: @TC-MO

docs: Fix PR comments
  docs/index.md
  docs/integrating-scrapy.md
  docs/quick-start.md
  docs/troubleshooting.md
  website/versioned_docs/version-0.20/changelog.md
  website/versioned_docs/version-0.21/changelog.md
Owners: @TC-MO, @B4nan, @vladfrangu

chore: revert vscode settings
  .vscode/settings.json
Owners: @B4nan, @vladfrangu
