Repository apify/apify-cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @B4nan, @vladfrangu, @TC-MO

docs: enable versioning and add 0.20 snapshot
  website/docusaurus.config.js
  website/versioned_docs/version-0.20/changelog.md
  website/versioned_docs/version-0.20/index.md
  website/versioned_docs/version-0.20/installation.md
  website/versioned_docs/version-0.20/integrating-scrapy.md
  website/versioned_docs/version-0.20/reference.md
  website/versioned_docs/version-0.20/telemetry.md
  website/versioned_docs/version-0.20/troubleshooting.md
  website/versioned_docs/version-0.20/vars.md
  website/versioned_sidebars/version-0.20-sidebars.json
  website/versions.json
Owners: @B4nan, @vladfrangu

add new commands to the reference
  docs/reference.md
Owners: @TC-MO

update docs reference automatically
  .github/workflows/docs.yaml
  package.json
Owners: @B4nan, @vladfrangu

docs: enable versioning and add 0.20 snapshot (#703)
  .github/workflows/docs.yaml
  docs/reference.md
  package.json
  website/docusaurus.config.js
  website/versioned_docs/version-0.20/changelog.md
  website/versioned_docs/version-0.20/index.md
  website/versioned_docs/version-0.20/installation.md
  website/versioned_docs/version-0.20/integrating-scrapy.md
  website/versioned_docs/version-0.20/reference.md
  website/versioned_docs/version-0.20/telemetry.md
  website/versioned_docs/version-0.20/troubleshooting.md
  website/versioned_docs/version-0.20/vars.md
  website/versioned_sidebars/version-0.20-sidebars.json
  website/versions.json
Owners: @B4nan, @vladfrangu, @TC-MO

fix: handle stdin correctly from slower stdout emitting
  src/commands/actor/push-data.ts
  src/commands/datasets/get-items.ts
  src/commands/datasets/push-items.ts
  src/lib/commands/read-stdin.ts
  src/lib/commands/resolve-input.ts
Owners: @B4nan, @vladfrangu

chore: pin tinypool
  package.json
  yarn.lock
Owners: @B4nan, @vladfrangu

chore: hopefully fixed??
  package.json
  src/commands/datasets/get-items.ts
  src/commands/run.ts
  src/lib/commands/read-stdin.ts
  test/python_support.test.ts
  yarn.lock
Owners: @B4nan, @vladfrangu

chore: eureka
  src/lib/commands/read-stdin.ts
Owners: @B4nan, @vladfrangu

chore: i'll handle you eventually in cucumber, but manual test says it works
  test/commands/call.test.ts
Owners: @B4nan, @vladfrangu

fix: handle stdin correctly from slower stdout emitting (#704)
  package.json
  src/commands/actor/push-data.ts
  src/commands/datasets/get-items.ts
  src/commands/datasets/push-items.ts
  src/commands/run.ts
  src/lib/commands/read-stdin.ts
  src/lib/commands/resolve-input.ts
  test/commands/call.test.ts
  test/python_support.test.ts
  yarn.lock
Owners: @B4nan, @vladfrangu

chore(release): Update changelog and package version [skip ci]
  CHANGELOG.md
Owners: @B4nan, @vladfrangu

chore: remove console.logs lol
  src/commands/run.ts
  test/python_support.test.ts
Owners: @B4nan, @vladfrangu

chore: the best error you can possibly have
  src/lib/utils.ts
Owners: @B4nan, @vladfrangu

chore: Automatic theme updating workflow [skip ci]
  website/package.json
  website/yarn.lock
Owners: @B4nan, @vladfrangu

chore: Automatic theme updating workflow [skip ci]
  website/package.json
  website/yarn.lock
Owners: @B4nan, @vladfrangu

chore(release): Update changelog and package version [skip ci]
  CHANGELOG.md
Owners: @B4nan, @vladfrangu

chore: Automatic theme updating workflow [skip ci]
  website/package.json
  website/yarn.lock
Owners: @B4nan, @vladfrangu

chore: Automatic theme updating workflow [skip ci]
  website/package.json
  website/yarn.lock
Owners: @B4nan, @vladfrangu

chore: Automatic theme updating workflow [skip ci]
  website/package.json
  website/yarn.lock
Owners: @B4nan, @vladfrangu

chore: bump dependencies and release 0.20.12
  package.json
  yarn.lock
Owners: @B4nan, @vladfrangu

[skip ci] update README with latest command reference
  README.md
  docs/reference.md
Owners: @B4nan, @vladfrangu, @TC-MO

chore: why
  src/commands/builds/ls.ts
Owners: @B4nan, @vladfrangu

chore: esm vs cjs pain
  src/lib/utils.ts
Owners: @B4nan, @vladfrangu

fix: running commands with spaces on windows
  src/lib/exec.ts
  test/commands/windows/create.test.ts
Owners: @B4nan, @vladfrangu

chore: test correctly
  test/commands/windows/create.test.ts
Owners: @B4nan, @vladfrangu

fix: running commands with spaces on windows (#715)
  src/lib/exec.ts
  test/commands/windows/create.test.ts
Owners: @B4nan, @vladfrangu

fix: running commands with spaces on windows (#715)
  src/lib/exec.ts
  test/commands/windows/create.test.ts
Owners: @B4nan, @vladfrangu

chore(release): 0.20.13
  package.json
Owners: @B4nan, @vladfrangu

chore(release): Update changelog and package version [skip ci]
  CHANGELOG.md
Owners: @B4nan, @vladfrangu

[skip ci] update README with latest command reference
  README.md
  docs/reference.md
Owners: @B4nan, @vladfrangu, @TC-MO

fix outputJobLog API call with security token
  src/lib/utils.ts
Owners: @B4nan, @vladfrangu

chore: Automatic theme updating workflow [skip ci]
  website/package.json
  website/yarn.lock
Owners: @B4nan, @vladfrangu

chore: Automatic theme updating workflow [skip ci]
  website/package.json
  website/yarn.lock
Owners: @B4nan, @vladfrangu

chore: Automatic theme updating workflow [skip ci]
  website/package.json
  website/yarn.lock
Owners: @B4nan, @vladfrangu

chore: Automatic theme updating workflow [skip ci]
  website/package.json
  website/yarn.lock
Owners: @B4nan, @vladfrangu

feat: Adam requested layout changes
  src/commands/actors/ls.ts
  src/commands/runs/ls.ts
  src/lib/commands/responsive-table.ts
  src/lib/utils.ts
Owners: @B4nan, @vladfrangu

fix: make `value` option in breakpoints clearer
  src/commands/actors/ls.ts
  src/lib/commands/responsive-table.ts
Owners: @B4nan, @vladfrangu

Update src/commands/actors/ls.ts
  src/commands/actors/ls.ts
Owners: @B4nan, @vladfrangu

chore: better phrasing
  src/commands/actors/ls.ts
Owners: @B4nan, @vladfrangu

chore: Automatic theme updating workflow [skip ci]
  website/package.json
  website/yarn.lock
Owners: @B4nan, @vladfrangu

.github/CODEOWNERS:

# Documentation codeowner

* @B4nan @vladfrangu

/docs/*.md @TC-MO
/docs/*.mdx @TC-MO
/docs/changelog.md
