Repository apify/apify-cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @B4nan, @vladfrangu, @TC-MO

chore: add side to tslint config
  tsconfig.eslint.json
Owners: @B4nan, @vladfrangu

docs: Redirect from installation to quick-start
  docs/installation.md
Owners: @TC-MO

docs: Improve the singin info in quick start
  docs/quick-start.md
Owners: @TC-MO

Update docs/quick-start.md
  docs/quick-start.md
Owners: @TC-MO

Update docs/quick-start.md
  docs/quick-start.md
Owners: @TC-MO

Update docs/quick-start.md
  docs/quick-start.md
Owners: @TC-MO

chore: try to only bundle whats required
  src/commands/_actorEntrypoint.ts
  src/commands/_apifyEntrypoint.ts
  src/entrypoints/actor.ts
  src/entrypoints/apify.ts
Owners: @B4nan, @vladfrangu

chore: bite me
  scripts/documentation-renderer/commands.ts
Owners: @B4nan, @vladfrangu

Update docs/index.md
  docs/index.md
Owners: @TC-MO

Update docs/quick-start.md
  docs/quick-start.md
Owners: @TC-MO

Apply suggestions from code review
  docs/quick-start.md
  docs/troubleshooting.md
Owners: @TC-MO

docs: Fix PR comments and add title to quick start
  website/versioned_docs/version-0.20/changelog.md
  website/versioned_docs/version-0.21/changelog.md
Owners: @B4nan, @vladfrangu

docs: revert changelog files
  docs/integrating-scrapy.md
  docs/quick-start.md
  docs/vars.md
  website/versioned_docs/version-0.20/changelog.md
  website/versioned_docs/version-0.21/changelog.md
Owners: @TC-MO, @B4nan, @vladfrangu

refactor: clean up
  package.json
  src/commands/actor/get-public-url.ts
  test/api/commands/push.test.ts
  yarn.lock
Owners: @B4nan, @vladfrangu

refactor: clean up
  yarn.lock
Owners: @B4nan, @vladfrangu

fix: cast as ApifyClient
  src/commands/actor/get-public-url.ts
Owners: @B4nan, @vladfrangu

docs: Add fully qualified link to windows
  docs/quick-start.md
Owners: @TC-MO

docs: Add installation page, and other small things
  docs/installation.md
  docs/quick-start.md
  website/sidebars.js
Owners: @TC-MO, @B4nan, @vladfrangu

chore: Automatic theme updating workflow [skip ci]
  website/package.json
  website/yarn.lock
Owners: @B4nan, @vladfrangu

chore: Automatic theme updating workflow [skip ci]
  website/package.json
  website/yarn.lock
Owners: @B4nan, @vladfrangu

chore: Automatic theme updating workflow [skip ci]
  website/package.json
  website/yarn.lock
Owners: @B4nan, @vladfrangu

feat: add signature to KV store URLs where required (#875)
  package.json
  src/commands/actor/get-public-url.ts
  src/commands/actors/push.ts
  test/api/commands/push.test.ts
  yarn.lock
Owners: @B4nan, @vladfrangu

chore: bail out early for `actors pull` with hidden source code actors
  src/commands/actors/pull.ts
Owners: @B4nan, @vladfrangu

chore: drop console.log
  src/commands/actors/pull.ts
Owners: @B4nan, @vladfrangu

chore: stricter checks ig
  src/commands/actors/pull.ts
Owners: @B4nan, @vladfrangu

chore: bail out early for `actors pull` with hidden source code actors (#888)
  src/commands/actors/pull.ts
Owners: @B4nan, @vladfrangu

chore(release): Update changelog and package version [skip ci]
  CHANGELOG.md
Owners: @B4nan, @vladfrangu

Apply suggestions from code review
  docs/quick-start.md
  docs/troubleshooting.md
Owners: @TC-MO

docs: Fix PR comments
  docs/quick-start.md
  docs/troubleshooting.md
  website/sidebars.js
Owners: @TC-MO, @B4nan, @vladfrangu

Update docs/quick-start.md
  docs/quick-start.md
Owners: @TC-MO

docs: update readme
  README.md
Owners: @B4nan, @vladfrangu

docs: Fix PR comments
  docs/installation.md
  docs/integrating-scrapy.md
Owners: @TC-MO

docs: Update cli docs (#880)
  docs/index.md
  docs/installation.md
  docs/integrating-scrapy.md
  docs/quick-start.md
  docs/troubleshooting.md
  docs/vars.md
  tsconfig.eslint.json
  website/sidebars.js
Owners: @TC-MO, @B4nan, @vladfrangu

chore: not me squeezing in changes
  .github/workflows/check.yaml
  README.md
  docs/installation.md
Owners: @B4nan, @vladfrangu, @TC-MO

docs: update readme (#889)
  .github/workflows/check.yaml
  README.md
  docs/installation.md
Owners: @B4nan, @vladfrangu, @TC-MO

chore(release): Update changelog and package version [skip ci]
  CHANGELOG.md
  docs/reference.md
  package.json
  src/lib/hooks/useCLIMetadata.ts
Owners: @B4nan, @vladfrangu, @TC-MO

chore: fix v1 release issues
  .github/workflows/release.yaml
  CHANGELOG.md
  package.json
  src/lib/hooks/useCLIMetadata.ts
Owners: @B4nan, @vladfrangu

chore: other fixes
  src/commands/cli-management/install.ts
  src/commands/login.ts
  src/commands/logout.ts
  src/lib/utils.ts
Owners: @B4nan, @vladfrangu

chore: fix v1 release issues (#890)
  .github/workflows/release.yaml
  CHANGELOG.md
  package.json
  src/commands/cli-management/install.ts
  src/commands/login.ts
  src/commands/logout.ts
  src/lib/hooks/useCLIMetadata.ts
  src/lib/utils.ts
Owners: @B4nan, @vladfrangu

chore(release): Update changelog and package version [skip ci]
  CHANGELOG.md
  docs/reference.md
  package.json
Owners: @B4nan, @vladfrangu, @TC-MO

.github/CODEOWNERS:

# Documentation codeowner

* @B4nan @vladfrangu

/docs/*.md @TC-MO
/docs/*.mdx @TC-MO
/docs/changelog.md
